*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.navbar{
    width: 100vw;
    border-bottom: 1px solid rgb(190, 189, 189);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-logo{
    position: relative;
}
.logo{
    width: 200px;
}
.nav-items{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.nav-items a{
    text-decoration: none;
    color: grey;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.part-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
}
span{
    color: rgb(30, 82, 255);
}
.part-2{
    display: flex;
    gap: 8px;
}
.button1{
    background-color: rgb(30, 82, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.button2{
    background-color: rgb(130, 255, 47);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-menu{
    display: none;
}
#icon{
    font-size: 3vw;
    color: grey;
}
@media(max-width:1280px){
    .navbar{
        width: 100vw;
        border-bottom: 1px solid rgb(190, 189, 189);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav-items{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }
    .nav-items a{
        text-decoration: none;
        color: grey;
        font-size: 1.1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }
    .part-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 18px;
    }
    .part-2{
        display: flex;
        gap: 8px;
    }
}

@media(max-width:1200px){
    .navbar{
        width: 100vw;
        border-bottom: 1px solid rgb(190, 189, 189);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav-items{
        display: none;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }
    .nav-items a{
        text-decoration: none;
        color: grey;
        font-size: 1.1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }
    .nav-menu{
        display: block;
    }
    #icon{
        font-size: 4vw;
        color: grey;
    }
}