/* Header Top Started */
.header-top-parent{
    width: 1500px;
    height: 52px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #eeeeee;
}
.header-top-children{
    height: 36px;
    width: 1256px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ul-list{
    column-gap: 30px;
    width:  759px;
}
.header-top-child-span{
    margin-left: 12px;
    margin-right: 12px;
}
#header-top-child-span-icon-1{
    padding-right: 5px;
}
#header-top-child-span-icon-2{
    padding-right: 5px;
}
#header-top-child-span-icon-3{
    padding-right: 5px;
}
.header-top-child-img{
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.header-top-child-button{
    background-color: #ffffff;
    color: #000000d9;
    border: 5px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 435px;
}
.drop-icon{
    display: none;
}
#Drop-icon{
    color: grey;
    font-size: 19px;
}
/* Header Top Media Queries Started */
/* SCREEN SIZE 640PX */
@media(min-width:640px){
    .header-top-parent{
        width: 639px;
        height: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .header-top-children{
        width: 600px;
        height: 36px;
        font-size: 1.5rem;
        width: 592px;
        padding-left: 8px;
        padding-right: 8px;
        display: none;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 0px;
    }
    .ul-list{
        display: none;
        flex-wrap: nowrap;
        column-gap: 0px;
        width:  0px;
    }
    .header-top-child-span{
        margin-left: 0px;
        margin-right: 0px;
    }
    .header-top-child-span-1{
        margin-left: 0px;
    }
    .flag{
        gap: 0px;
        margin-bottom: 0px;
    }
    #header-top-child-span-icon-1{
        padding-right: 0px;
    }
    #header-top-child-span-icon-2{
        padding-right: 0px;
    }
    #header-top-child-span-icon-3{
        padding-right: 0px;
    }
    .header-top-child-img{
        width: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header-top-child-button{
        display: none;
        border: 0px;
        border: none;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        display: flex;
        gap: 240px;
        margin-bottom: 0px;
    }
    .drop-icon{
        display: flex;
        justify-content: center;

    }
    #Drop-icon{
        color: grey;
        font-size: 19px;
    }
}

/* SCREEN SIZE 768PX */
@media(min-width:768px){
    .header-top-parent{
        width: 768px;
        height: 54px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .header-top-children{
        width: 720px;
        height: 38px;
        font-size: 1.4rem;
        padding-left: 8px;
        padding-right: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    .ul-list{
        display: flex;
        flex-wrap: wrap;
        column-gap: 27px;
        width:  510px;
    }
    .header-top-child-span{
        margin-left: 10px;
        margin-right: 0px;
    }
    .header-top-child-span-1{
        margin-left: 105px;
    }
    .flag{
        gap: 3px;
        margin-bottom: 0px;
    }
    #header-top-child-span-icon-1{
        padding-right: 3px;
    }
    #header-top-child-span-icon-2{
        padding-right: 3px;
    }
    #header-top-child-span-icon-3{
        padding-right: 3px;
    }
    .header-top-child-img{
        width: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header-top-child-button{
        background-color: #ffffff;
        color: #000000d9;
        border: 5px;
        border: none;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 0px;
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
    }
    .drop-icon{
        display: none;
        justify-content: center;

    }
    #Drop-icon{
        color: grey;
        font-size: 19px;
    }
}

/* SCREEN SIZE 1024PX */
@media(min-width:1024px){
    .header-top-parent{
        width: 1024px;
        height: 52px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #eeeeee;
    }
    .header-top-children{
        width: 976px;
        height: 36px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 1rem;
        column-gap: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ul-list{
        column-gap: 10px;
        width:  560px;
    }
    .header-top-child-span{
        margin-left: 12px;
        margin-right: 12px;
    }
    .header-top-child-span-1{
        margin-left: 0px;
    }
    #header-top-child-span-icon-1{
        padding-right: 5px;
    }
    #header-top-child-span-icon-2{
        padding-right: 5px;
    }
    #header-top-child-span-icon-3{
        padding-right: 5px;
    }
    .header-top-child-img{
        width: 30px;
        margin-left: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 8px;
    }
    .header-top-child-button{
        background-color: #ffffff;
        color: #000000d9;
        border: 5px;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
/* SCREEN SIZE 1280PX */
@media(min-width: 1280px){
    .header-top-parent{
        width: 1280px;
        height: 52px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #eeeeee;
    }
    .header-top-children{
        width: 1232px;
        height: 36px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 1.4rem;
        column-gap: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ul-list{
        column-gap: 16px;
        width:  759.02px;
    }
    .header-top-child-span{
        margin-left: 12px;
        margin-right: 12px;
    }
    .header-top-child-span-1{
        margin-left: 0px;
    }
    #header-top-child-span-icon-1{
        padding-right: 5px;
    }
    #header-top-child-span-icon-2{
        padding-right: 5px;
    }
    #header-top-child-span-icon-3{
        padding-right: 5px;
    }
    .header-top-child-img{
        width: 20px;
        margin-left: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 8px;
    }
    .header-top-child-button{
        background-color: #ffffff;
        color: #000000d9;
        border: 5px;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
/* SCREEN SIZE 1366PX */
@media(min-width: 1366px){
    .header-top-parent{
        width: 1366px;
        height: 52px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #eeeeee;
    }
    .header-top-children{
        width: 1313px;
        height: 36px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 1.4rem;
        column-gap: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ul-list{
        column-gap: 16px;
        width:  759.02px;
    }
    .flag{
        width: 135px;
    }
    .header-top-child-span{
        margin-left: 12px;
        margin-right: 12px;
    }
    .header-top-child-span-1{
        margin-left: 0px;
    }
    #header-top-child-span-icon-1{
        padding-right: 5px;
    }
    #header-top-child-span-icon-2{
        padding-right: 5px;
    }
    #header-top-child-span-icon-3{
        padding-right: 5px;
    }
    .header-top-child-img{
        width: 20px;
        margin-left: 5px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        margin-right: 5px;
    }
    .header-top-child-button{
        background-color: #ffffff;
        color: #000000d9;
        border: 5px;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
/* SCREEN SIZE 1536PX */
@media(min-width:1536px){
    .header-top-parent{
        width: 1536px;
        height: 52px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #eeeeee;
    }
    .header-top-children{
        width: 1488px;
        height: 36px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 1.4rem;
        column-gap: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ul-list{
        column-gap: 16px;
        width:  759.02px;
    }
    .flag{
        width: 135px;
    }
    .header-top-child-span{
        margin-left: 12px;
        margin-right: 12px;
    }
    .header-top-child-span-1{
        margin-left: 0px;
    }
    #header-top-child-span-icon-1{
        padding-right: 5px;
    }
    #header-top-child-span-icon-2{
        padding-right: 5px;
    }
    #header-top-child-span-icon-3{
        padding-right: 5px;
    }
    .header-top-child-img{
        width: 20px;
        margin-left: 5px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        margin-right: 5px;
    }
    .header-top-child-button{
        background-color: #ffffff;
        color: #000000d9;
        border: 5px;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}    
/* Header Top Media Queries Ended */
/* Header Top Ended */

/* Navbar Started */
nav{
    width: 1349px;
    height: 80.41px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.logo-img{
    width: 200px;
    height: 54.41px;
}
.nav-parent{
    width: 1280px;
    height: 64.41px;
    display: flex;
    align-items: center;
    gap: 190px;
    margin-left: 34.5px;
    margin-right: 34.5px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.nav-logo-child{
    height: 54.41px;
}
.nav-items-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.nav-items-a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #666666;
    font-weight: 600;
}
.nav-items-a-1{
    text-decoration: none;
    font-size: 1.2rem;
    color: #0d6db7;
    font-weight: 600;
    cursor: pointer;
}
.button-nav{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-button-1{
    background-color: #0d6db7;
    height: 46px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}
.nav-button-2{
    background-color: #8dc63f;
    height: 46px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #0d6db7;
    color: #ffffff;
    border-radius: 5px;
}
.menu-icon{
    display: none;
}
#icon{
    border: 1px solid #808080;
    color: #808080;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
/* Navbar Media Queries Started */
/* SCREEN SIZE 640PX */
@media(min-width: 640px){
    nav{
        width: 648px;
        height: 78.6px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .logo-img{
        width: 200px;
        height: 54.41px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .nav-parent{
        width: 100%;
        height: 64.41px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 70px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
    }    
    .nav-items-a{
        display: none;
    }   
    .nav-items-a-1{
        display: none;
    }
    .button-nav{
        display: none;
    }
    #icon{
        border: 1px solid #808080;
        color: #808080;
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .menu-icon{
        display: block;
    }
}

/* SCREEN SIZE 768PX */
@media(min-width: 768px){
    nav{
        width: 768px;
        height: 78.6px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .logo-img{
        width: 200px;
        height: 54.4px;
    }
    .nav-parent{
        width: 100%;
        height: 64.406px;
        padding-right: 12px;
        padding-left: 12px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 240px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .nav-items-a{
        display: none;
    }   
    .nav-items-a-1{
        display: none;
    }
    .button-nav{
        display: none;
    }
    #icon{
        border: 1px solid #808080;
        color: #808080;
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .menu-icon{
        display: block;
    }
}

/* SCREEN SIZE 1024PX */
@media(min-width:1024px){
    nav{
        width: 1024px;
        height: 78.6px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .logo-img{
        width: 200px;
        height: 54.4px;
    }
    .nav-parent{
        width: 100%;
        height: 64.406px;
        padding-right: 12px;
        padding-left: 12px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 470px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .nav-items-a{
        display: none;
    }   
    .nav-items-a-1{
        display: none;
    }
    .button-nav{
        display: none;
    }
    #icon{
        border: 1px solid #808080;
        color: #808080;
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .menu-icon{
        display: block;
    }
}
/* SCREEN SIZE 1280PX */
@media(min-width:1280px){
    nav{
        width: 1280px;
        height: 80.41px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .logo-img{
        width: 200px;
        height: 54.41px;
    }
    .nav-parent{
        width: 100%;
        height: 64.41px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 130px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .nav-logo-child{
        height: 54.41px;
    }
    .nav-items-child{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    .nav-items-a{
        text-decoration: none;
        font-size: 1.2rem;
        color: #666666;
        font-weight: 600;
        display: block;
    }
    .nav-items-a-1{
        text-decoration: none;
        font-size: 1.4rem;
        color: #0d6db7;
        font-weight: 600;
        cursor: pointer;
        display: block;
    }
    .button-nav{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .nav-button-1{
        background-color: #0d6db7;
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        color: #ffffff;
        border-radius: 5px;
    }
    .nav-button-2{
        background-color: #8dc63f;
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #0d6db7;
        color: #ffffff;
        border-radius: 5px;
    } 
    .menu-icon{
        display: none;
    }
    #icon{
        border: 1px solid #808080;
        color: #808080;
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
/* SCREEN SIZE 1366PX */
@media(min-width:1366px){
    nav{
        width: 1366px;
        height: 80.41px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .logo-img{
        width: 200px;
        height: 54.41px;
    }
    .nav-parent{
        width: 100%;
        height: 64.41px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 180px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .nav-logo-child{
        height: 54.41px;
    }
    .nav-items-child{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    .nav-items-a{
        text-decoration: none;
        font-size: 1.2rem;
        color: #666666;
        font-weight: 600;
        display: block;
    }
    .nav-items-a-1{
        text-decoration: none;
        font-size: 1.4rem;
        color: #0d6db7;
        font-weight: 600;
        cursor: pointer;
        display: block;
    }
    .button-nav{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .nav-button-1{
        background-color: #0d6db7;
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        color: #ffffff;
        border-radius: 5px;
    }
    .nav-button-2{
        background-color: #8dc63f;
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #0d6db7;
        color: #ffffff;
        border-radius: 5px;
    } 
}
@media(min-width:1536px){
    nav{
        width: 1536px;
        height: 80.41px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .logo-img{
        width: 200px;
        height: 54.41px;
    }
    .nav-parent{
        width: 100%;
        height: 64.41px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 320px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .nav-logo-child{
        height: 54.41px;
    }
    .nav-items-child{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    .nav-items-a{
        text-decoration: none;
        font-size: 1.5rem;
        color: #666666;
        font-weight: 600;
        display: block;
    }
    .nav-items-a-1{
        text-decoration: none;
        font-size: 1.5rem;
        color: #0d6db7;
        font-weight: 600;
        cursor: pointer;
        display: block;
    }
    .button-nav{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .nav-button-1{
        background-color: #0d6db7;
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        color: #ffffff;
        border-radius: 5px;
    }
    .nav-button-2{
        background-color: #8dc63f;
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #0d6db7;
        color: #ffffff;
        border-radius: 5px;
    } 
}

/* Navbar Media Queries End */
/* Navbar Ended */