html{
    font-size: 62.5%;
}
.navbar{
    width: 100vw;
    border-bottom: 1px solid rgb(190, 189, 189);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-logo{
    position: relative;
}
.logo{
    width: 200px;
}
.nav-items{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.nav-items a{
    text-decoration: none;
    color: grey;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.part-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
}
span{
    color: rgb(30, 82, 255);
}
.part-2{
    display: flex;
    gap: 8px;
}
.button1{
    background-color: rgb(30, 82, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.button2{
    background-color: rgb(130, 255, 47);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-menu{
    display: none;
}
#icon{
    font-size: 3vw;
    color: grey;
}
@media(max-width:1280px){
    .navbar{
        width: 100vw;
        border-bottom: 1px solid rgb(190, 189, 189);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav-items{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }
    .nav-items a{
        text-decoration: none;
        color: grey;
        font-size: 1.1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }
    .part-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 18px;
    }
    .part-2{
        display: flex;
        gap: 8px;
    }
}

@media(max-width:1200px){
    .navbar{
        width: 100vw;
        border-bottom: 1px solid rgb(190, 189, 189);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .nav-items{
        display: none;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }
    .nav-items a{
        text-decoration: none;
        color: grey;
        font-size: 1.1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }
    .nav-menu{
        display: block;
    }
    #icon{
        font-size: 4vw;
        color: grey;
    }
}

/* Main Section-1 Started */
.container{
    width: 100%;
    display: flex;
    position: relative;
}
.parent-1{
    display: flex;
    width: 50%;
    position: relative;
    height: 560px;
    padding-left: 12px;
    padding-right: 12px;
}
.parent-2{
    display: flex;
    width: 50%;
    position: relative;
    height: 560px;
    padding-left: 12px;
    padding-right: 12px;
}
.child-1{
    position: relative;
    width: 50vw;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.welcome-heading{
    font-family: poppins;
    font-weight: 600;
    font-size: 3vw;
    line-height: 45px;
    margin-bottom: 12px;
}
.sub-heading{
    font-family: poppins;
    font-weight: 600;
    font-size: 2vw;
    line-height: 34px;
    margin-bottom: 16px;
    margin-top: 22px;
}
.welcome-para{
    font-family: poppins;
    font-weight: 500;
    font-size: 1.2vw;
    color: #000000d9;
    line-height: 27px;
}
.one{
    color: #000000d9;
}
.welcome-button{
    color: #000000d9;
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#welcome-button-icon{
    margin-left: 7px;
    color: #000000d9;
}
.child-2{
    display: flex;
    justify-content: center;
    position: relative;
    width: 50vw;
    padding: 15px;
    height: 560px;
}
.saylani{
    width: 600px;
    height: 520px;
}


/* SCREEN SIZE 1280PX */
@media(max-width:1280px){
    .container{
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .parent-1{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .parent-2{
        display: flex;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .child-1{
        position: relative;
        width: 50vw;
        height: 560px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .welcome-heading{
        font-family: poppins;
        font-weight: 600;
        font-size: 3vw;
        line-height: 45px;
        margin-bottom: 12px;
    }
    .sub-heading{
        font-family: poppins;
        font-weight: 600;
        font-size: 2vw;
        line-height: 34px;
        margin-bottom: 16px;
        margin-top: 22px;
    }
    .welcome-para{
        font-family: poppins;
        font-weight: 500;
        font-size: 1.2vw;
        color: #000000d9;
        line-height: 27px;
    }
    .child-2{
        position: relative;
        width: 50vw;
        height: 560px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .saylani{
        width: 576px;
        height: 520px;
    }
}
/* SCREEN SIZE 1024PX */
@media(max-width:1024px){
    .container{
        width: 100vw;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px auto;
    }
    .parent-1{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .parent-2{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .child-1{
        position: relative;
        width: 50vw;
        height: 560px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .child-2{
        position: relative;
        width: 50vw;
        height: 560px;
        padding: 15px;
        display: flex;
    }
    .saylani{
        width: 448px;
        height: 520px;
    }
}
/* SCREEN SIZE 992PX */
@media(max-width:992px){
    .container{
        width: 77.5vw;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .parent-1{
        display: flex;
        justify-content: center;
        position: relative;
        width: 38.75vw;
        height: 440px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .parent-2{
        display: flex;
        justify-content: center;
        position: relative;
        width: 38.75vw;
        height: 440px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .child-1{
        position: relative;
        width: 37vw;
        height: 440px;
        display: flex;
    }
    .welcome-heading{
        font-family: poppins;
        font-weight: 500;
        font-size: 3vw;
        line-height: 37px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .sub-heading{
        font-family: poppins;
        font-weight: 500;
        font-size: 2vw;
        line-height: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .welcome-para{
        font-family: poppins;
        font-weight: 500;
        font-size: 1.45vw;
        color: #000000d9;
        line-height: 24px;
    }
    .child-2{
        position: relative;
        width: 37vw;
        height: 340px;
        padding: 20px;
        display: flex;
        align-items: stretch;
    }
    .saylani{
        width: 320px;
        height: 250px;
    }
}
/* SCREEN SIZE 768PX */
@media(max-width:768px){
    .container{
        width: 100vw;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px auto;
    }
    .parent-1{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .welcome-heading{
        font-family: poppins;
        font-weight: 600;
        font-size: 3.7vw;
        line-height: 33px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .sub-heading{
        font-family: poppins;
        font-weight: 600;
        font-size: 2vw;
        line-height: 20px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .welcome-para{
        font-family: poppins;
        font-weight: 700;
        font-size: 1vw;
        color: #000000d9;
        line-height: 16px;
    }
    .parent-2{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .child-1{
        position: relative;
        width: 50vw;
        height: 280px;
        margin-top: 13px;
    }
    .child-2{
        position: relative;
        width: 50vw;
        height: 270px;
        padding: 10px;
        display: flex;
    }
    .saylani{
        width: 340px;
        height: 250px;
    }
}
/* SCREEN SIZE 640PX */
@media(max-width:640px){
    .container{
        width: 100vw;
        display: flex;
        justify-content: center;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px auto;
    }
    .parent-1{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .welcome-heading{
        font-family: poppins;
        font-weight: 600;
        font-size: 3.7vw;
        line-height: 33px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .sub-heading{
        font-family: poppins;
        font-weight: 500;
        font-size: 2.4vw;
        line-height: 20px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .welcome-para{
        font-family: poppins;
        font-weight: 400;
        font-size: 1.7vw;
        color: #000000d9;
        line-height: 19px;
    }
    .parent-2{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50vw;
        height: 560px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .child-1{
        position: relative;
        width: 50vw;
        height: 330px;
        margin-top: 13px;
    }
    .child-2{
        position: relative;
        width: 50vw;
        height: 270px;
        padding: 10px;
        display: flex;
    }
    .saylani{
        width: 276px;
        height: 250px;
    }
}
/* Main Section-1 Ended */